# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Node Modules & Build Files
node_modules/
dist/
dist-ssr/
*.local

# Django Specific
__pycache__/
db.sqlite3
.env
*.pyc
/media/
staticfiles/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
